@import url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/fonts/satoshi/stylesheet.css);
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/gstatic/icons.woff2) format("woff2");
}
:root {
  color-scheme: dark;
}

.icons {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  line-height: 0.79;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  font-family: satoshi-regular, arial, sans-serif;
  box-sizing: border-box;
}

.fancy-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-button .flair {
  position: absolute;
  background-color: white;
  aspect-ratio: 1;
  width: 200%;
  pointer-events: none;
  border-radius: 100%;
  will-change: transform;
  z-index: 0;
}
.fancy-button .label {
  font-family: inherit;
  z-index: 0;
  transition: color 0.2s;
}
.fancy-button:hover {
  color: black;
}

body {
  background-color: #0e0f0f;
  color: #FFFFFF;
}

#cardpack {
  width: 90%;
  padding: 2rem 2rem 2rem 2rem;
  margin: 1.5rem auto 0rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  #cardpack {
    grid-template-columns: 60% 1fr;
  }
  #cardpack header .buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  #cardpack {
    padding: 0rem 0rem 0rem 0rem;
    grid-template-columns: 1fr;
  }
  #cardpack .cards-carousel {
    grid-row: 2;
  }
  #cardpack .cards-carousel .card {
    font-size: min(1rem, 2vw) !important;
  }
  #cardpack header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: min(1rem, 4vw) !important;
  }
  #cardpack header .buttons {
    flex-direction: column;
  }
}
#cardpack header {
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: min(1rem, 1.25vw);
}
#cardpack header .buttons {
  width: 100%;
  margin-top: auto;
  margin-bottom: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}
#cardpack header .buttons #shuffle-flashcards {
  background-color: transparent;
  font-size: 1.25em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
  margin-top: auto;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-color: #7c72ff;
  color: #7c72ff;
}
#cardpack header .buttons #shuffle-flashcards .flair {
  background-color: #7c72ff;
}
#cardpack header .buttons #shuffle-flashcards:hover {
  color: #FFFFFF;
}
#cardpack header .buttons #shuffle-flashcards .icons {
  margin-left: -0.1em;
}
#cardpack header .buttons #back-flashcards {
  background-color: transparent;
  font-size: 1.25em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
  margin-top: auto;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-color: #e36970;
  color: #e36970;
}
#cardpack header .buttons #back-flashcards .flair {
  background-color: #e36970;
}
#cardpack header .buttons #back-flashcards:hover {
  color: #FFFFFF;
}
#cardpack header .buttons #back-flashcards .icons {
  margin-left: -0.1em;
}
#cardpack header #cardpack-course-code {
  color: gray;
  font-size: 1em;
}
#cardpack header #cardpack-title {
  font-size: 4em;
  font-family: satoshi-black, arial, sans-serif;
  font-weight: 600;
}
#cardpack header #cardpack-title.genmath {
  color: transparent;
  background-image: linear-gradient(90deg, #3fb950, #3fb979);
  -webkit-background-clip: text;
          background-clip: text;
}
#cardpack header #cardpack-properties {
  margin-top: 0.5em;
  display: flex;
  justify-content: start;
  gap: 1em;
}
#cardpack header #cardpack-properties #cardpack-cards {
  background-color: #0277BD;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack header #cardpack-properties #cardpack-difficulty.easy {
  background-color: #2E7D32;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack header #cardpack-properties #cardpack-difficulty.medium {
  background-color: #F57F17;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack header #cardpack-properties #cardpack-difficulty.hard {
  background-color: #d7342a;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack header #cardpack-properties #cardpack-price.free {
  background-color: #474957;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack header #cardpack-properties #cardpack-price.standard {
  background-color: #e36970;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack header #cardpack-properties #cardpack-price.premium {
  background-color: #7c72ff;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  color: #FFFFFF;
  font-size: 1em;
  font-family: satoshi-bold, arial, sans-serif;
  text-wrap: nowrap;
}
#cardpack .card.genmath .card-content, #cardpack .nav-card.genmath {
  background-image: linear-gradient(#3fb950, #3fb979);
  text-shadow: 0 0 0.5em black;
}
#cardpack .card.precalc .card-content, #cardpack .nav-card.precalc {
  background-image: linear-gradient(#ffa200, #ff6200);
  text-shadow: 0 0 0.25em black;
}
#cardpack .flickity-button {
  background-color: rgba(25, 26, 31, 0.75);
}
#cardpack .flickity-button .flickity-button-icon {
  fill: #7c72ff;
}
#cardpack .cards-carousel {
  background-color: #101212;
  max-width: 952px;
  aspect-ratio: 3/2;
  width: 100%;
  margin-top: 1em;
  border-radius: 1em;
  position: relative;
}
#cardpack .cards-carousel .loader-container {
  background-color: #101212;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  transition: opacity 250ms;
  pointer-events: none;
}
#cardpack .cards-carousel .loader-container .loader {
  aspect-ratio: 1;
  width: 10%;
}
#cardpack .cards-carousel .loader-container.load {
  opacity: 1;
}
#cardpack .cards-carousel .flickity-viewport {
  border-radius: inherit;
  overflow: hidden;
  height: 100% !important;
  transition: opacity 1000ms;
}
#cardpack .cards-carousel .card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(1rem, 1vw);
}
#cardpack .cards-carousel .card .card-content {
  background-color: #e36970;
  cursor: pointer;
  opacity: 0.5;
  width: 80%;
  height: 80%;
  scale: 90%;
  padding: 1.5em 1em 1.5em 1em;
  border: solid var(--accent);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transform: rotate3d(0, 1, 0, 0deg);
  transition: filter 500ms, opacity 500ms, scale 500ms, transform 500ms ease-out;
}
#cardpack .cards-carousel .card .card-content div {
  position: absolute;
  transition: opacity 250ms;
  padding: 2em 2em 2em 2em;
}
#cardpack .cards-carousel .card .card-content .back {
  opacity: 0;
  transform: rotate3d(0, 1, 0, 180deg);
}
#cardpack .cards-carousel .card .card-content.reveal {
  transform: rotate3d(0, 1, 0, 180deg);
  filter: hue-rotate(-5deg);
}
#cardpack .cards-carousel .card .card-content.reveal .front {
  opacity: 0;
}
#cardpack .cards-carousel .card .card-content.reveal .back {
  opacity: 1;
}
#cardpack .cards-carousel .is-selected .card-content {
  opacity: 1 !important;
  scale: 100% !important;
}/*# sourceMappingURL=cardpack.css.map */