@font-face {
	font-family: "PPMori-Regular";
	src: url("/assets/fonts/PPMori-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PPMori-SemiBold";
	src: url("/assets/fonts/PPMori-SemiBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PPMori-Regular";
	src: url("/assets/fonts/PPMori-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--primary-color: #141515;
	--secondary-color: #191a1f;
	--background-color: #0e0f0f;
	--transparent-color: rgba(29, 29, 33, 0.4);
	--dark-transparent-color: rgba(29, 29, 33, 0.95);
	--select-color: #1d1d21;
	--text-color: #FFFFFF;
	--accent-color: #e36970;
	--dark-accent-color: #b1484e;
}

* {
    margin: 0;
    padding: 0;
    font-size: 24px;
	font-family: PPMori-Regular, Arial, sans-serif;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}