@font-face {
  font-family: "PPMori-Regular";
  src: url("/assets/fonts/PPMori-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PPMori-SemiBold";
  src: url("/assets/fonts/PPMori-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(/assets/gstatic/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format("woff2");
}
:root {
  color-scheme: dark;
}

.icons {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  line-height: 0.79;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PPMori-Regular", Arial, sans-serif;
  box-sizing: border-box;
}

.fancy-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-button .flair {
  position: absolute;
  background-color: white;
  aspect-ratio: 1;
  width: 200%;
  pointer-events: none;
  border-radius: 100%;
  will-change: transform;
  z-index: 0;
}
.fancy-button .label {
  z-index: 0;
  transition: color 0.2s;
}
.fancy-button:hover {
  color: black;
}

body {
  color: #FFFFFF;
  background-color: #0e0f0f;
}

#home-container {
  padding: 12vw 1rem 0 1rem;
}

header, section {
  max-width: 72rem;
  margin: 0 auto 0 auto;
  display: flex;
  gap: 1vw;
}
header aside, section aside {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header aside .icons, section aside .icons {
  font-size: 2.25rem;
  margin-top: 0;
  cursor: default;
}
header aside .line, section aside .line {
  width: 3px;
  border-radius: 3px;
  transform-origin: top;
}
header main, section main {
  width: 95%;
}

header aside .icons {
  color: gray;
  font-size: 0.75rem;
}
header aside .line {
  background-color: linear-gradient(transparent, #e36970 30%);
  background-image: linear-gradient(transparent, #e36970 30%);
  height: 100%;
}
header main {
  padding-bottom: 2rem;
}
header main h1 {
  text-wrap: nowrap;
  font-size: min(16vw, 12rem);
}
header main h1 sup {
  font-size: 0.5em;
}
header main h1 sup .glow {
  position: absolute;
  background-color: transparent;
  width: 0;
  border-radius: 100%;
  display: inline-block;
  opacity: 1;
  z-index: -1;
  box-shadow: 0 0 1.2em 0.7em #e36970;
}
header main span {
  color: gray;
  font-size: min(5vw, 2rem);
}

#intro aside .icons {
  height: 2rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#intro aside .icons .glow {
  width: 0;
  height: 0;
  box-shadow: 18px 18px 36px 18px #e36970;
}
#intro aside .line {
  background-color: linear-gradient(#e36970, #3fb950 80%);
  background-image: linear-gradient(#e36970, #3fb950 80%);
  height: 16rem;
}
#intro main .buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}
#intro main .buttons a {
  width: min-content;
  border: solid #FFFFFF;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 0.75rem;
  font-size: 1.5rem;
  text-wrap: nowrap;
  text-align: center;
}
#intro main .buttons #intro-start {
  border-color: #e36970;
  color: #e36970;
}
#intro main .buttons #intro-start .flair {
  background-color: #e36970;
}
#intro main .buttons #intro-start:hover {
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  #intro main .buttons {
    margin-left: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }
  #intro main .buttons a {
    width: 90%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: min(5vw, 1.5rem);
  }
}

#genmath aside .icons {
  height: 2rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#genmath aside .icons .glow {
  width: 0;
  height: 0;
  box-shadow: 18px 18px 36px 18px #3fb950;
}
#genmath aside .line {
  background-color: linear-gradient(#3fb950, #ff6200 100%);
  background-image: linear-gradient(#3fb950, #ff6200 100%);
  height: 64rem;
}
#genmath main {
  margin-left: 1rem;
}
#genmath main h2, #genmath main h2 span {
  font-size: min(12vw, 4rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  margin-top: 1.125rem;
}
#genmath main h2 .highlight, #genmath main h2 span .highlight {
  color: #3fb950;
}
#genmath main h3, #genmath main h3 span {
  margin-top: 1rem;
  font-size: min(6vw, 2rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
}
#genmath main .card {
  background-color: #191a1f;
  width: min(95vw, 76rem);
  height: 32rem;
  padding: min(8%, 4.5rem) min(8%, 4.5rem) min(8%, 4.5rem) min(8%, 4.5rem);
  margin: 3.5rem auto 0 auto;
  border-radius: 16px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
#genmath main .card .card-text .card-title {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.25;
}
#genmath main .card .card-text .card-title span {
  color: white;
  font-size: inherit;
  line-height: inherit;
}
#genmath main .card .card-media {
  border-radius: 24px;
  grid-row: span 2;
  font-size: 1.5rem;
  position: relative;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#genmath main .card .button-container {
  display: flex;
  align-items: end;
  font-size: 1.5rem;
}
#genmath main .card .button-container .fancy-button {
  font-size: 1em;
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  text-wrap: nowrap;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: fit-content;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  #genmath main .card {
    height: fit-content;
    grid-template-columns: 1fr;
  }
  #genmath main .card .button-container {
    justify-content: center;
  }
}
#genmath #genmath-log {
  background-color: #3fb950;
  -webkit-mask: url(/assets/svg/logarithm.svg) no-repeat center/cover;
  mask: url(/assets/svg/logarithm.svg) no-repeat center/cover;
  opacity: 0.01;
  position: absolute;
  width: 125%;
  height: 100%;
  transform: scale(-1, 1);
}

#precalc aside .icons {
  height: 2rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#precalc aside .icons .glow {
  width: 0;
  height: 0;
  box-shadow: 18px 18px 36px 18px #ff6200;
}
#precalc aside .line {
  background-color: linear-gradient(#ff6200, #7c72ff 100%);
  background-image: linear-gradient(#ff6200, #7c72ff 100%);
  height: 64rem;
}
#precalc main {
  margin-left: 1rem;
}
#precalc main h2, #precalc main h2 span {
  font-size: min(12vw, 4rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  margin-top: 1.125rem;
}
#precalc main h2 .highlight, #precalc main h2 span .highlight {
  color: #ff6200;
}
#precalc main h3, #precalc main h3 span {
  margin-top: 1rem;
  font-size: min(6vw, 2rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
}
#precalc main .card {
  background-color: #191a1f;
  width: min(95vw, 76rem);
  height: 32rem;
  padding: min(8%, 4.5rem) min(8%, 4.5rem) min(8%, 4.5rem) min(8%, 4.5rem);
  margin: 3.5rem auto 0 auto;
  border-radius: 16px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
#precalc main .card .card-text .card-title {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.25;
}
#precalc main .card .card-text .card-title span {
  color: white;
  font-size: inherit;
  line-height: inherit;
}
#precalc main .card .card-media {
  border-radius: 24px;
  grid-row: span 2;
  font-size: 1.5rem;
  position: relative;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#precalc main .card .button-container {
  display: flex;
  align-items: end;
  font-size: 1.5rem;
}
#precalc main .card .button-container .fancy-button {
  font-size: 1em;
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  text-wrap: nowrap;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: fit-content;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  #precalc main .card {
    height: fit-content;
    grid-template-columns: 1fr;
  }
  #precalc main .card .button-container {
    justify-content: center;
  }
}
#precalc .card-media #precalc-circle {
  background-color: #ff6200;
  -webkit-mask: url(/assets/svg/circle.svg) no-repeat center/cover;
  mask: url(/assets/svg/circle.svg) no-repeat center/cover;
  opacity: 0.01;
  position: absolute;
  top: 0;
  aspect-ratio: 1;
  height: 48rem;
}

#exercises aside .icons {
  height: 2rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#exercises aside .icons .glow {
  width: 0;
  height: 0;
  box-shadow: 18px 18px 36px 18px #7c72ff;
}
#exercises aside .line {
  background-color: linear-gradient(#7c72ff, #e36970 100%);
  background-image: linear-gradient(#7c72ff, #e36970 100%);
  height: 64rem;
}
#exercises main {
  margin-left: 1rem;
}
#exercises main h2, #exercises main h2 span {
  font-size: min(12vw, 4rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  margin-top: 1.125rem;
}
#exercises main h2 .highlight, #exercises main h2 span .highlight {
  color: #7c72ff;
}
#exercises main h3, #exercises main h3 span {
  margin-top: 1rem;
  font-size: min(6vw, 2rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
}
#exercises main .card {
  background-color: #191a1f;
  width: min(95vw, 76rem);
  height: 32rem;
  padding: min(8%, 4.5rem) min(8%, 4.5rem) min(8%, 4.5rem) min(8%, 4.5rem);
  margin: 3.5rem auto 0 auto;
  border-radius: 16px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
#exercises main .card .card-text .card-title {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.25;
}
#exercises main .card .card-text .card-title span {
  color: white;
  font-size: inherit;
  line-height: inherit;
}
#exercises main .card .card-media {
  border-radius: 24px;
  grid-row: span 2;
  font-size: 1.5rem;
  position: relative;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#exercises main .card .button-container {
  display: flex;
  align-items: end;
  font-size: 1.5rem;
}
#exercises main .card .button-container .fancy-button {
  font-size: 1em;
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  text-wrap: nowrap;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: fit-content;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  #exercises main .card {
    height: fit-content;
    grid-template-columns: 1fr;
  }
  #exercises main .card .button-container {
    justify-content: center;
  }
}
#exercises aside .line {
  height: 80rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#exercises aside .icons:last-child .glow {
  width: 0;
  height: 0;
  box-shadow: 18px 18px 36px 18px #e36970;
}
#exercises main {
  height: 64rem;
}

#join {
  margin-top: -18rem;
  margin-bottom: 24rem;
}
#join aside .icons {
  height: 2rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#join aside .icons .glow {
  width: 0;
  height: 0;
  box-shadow: 18px 18px 36px 18px #e36970;
}
#join main {
  margin-left: 1rem;
}
#join main h2, #join main h2 span {
  font-size: min(12vw, 4rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
  margin-top: 1.125rem;
}
#join main h2 .highlight, #join main h2 span .highlight {
  color: #e36970;
}
#join main h3, #join main h3 span {
  margin-top: 1rem;
  font-size: min(6vw, 2rem);
  font-family: "PPMori-SemiBold", Arial, sans-serif;
}
#join main .buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}
#join main .buttons a {
  width: min-content;
  border: solid #FFFFFF;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 0.75rem;
  font-size: 1.5rem;
  text-wrap: nowrap;
  text-align: center;
}
#join main .buttons #join-aritmatica {
  border-color: #e36970;
  color: #e36970;
}
#join main .buttons #join-aritmatica .flair {
  background-color: #e36970;
}
#join main .buttons #join-aritmatica:hover {
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  #join main .buttons {
    margin-left: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }
  #join main .buttons a {
    width: 90%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: min(5vw, 1.5rem);
  }
}

/*# sourceMappingURL=home.css.map */
