header {
    margin: 156px 0px 0px 128px;
}

header > h1 {
    font-size: 152px;
}

header > h1 > sup {
    font-size: 72px;
}

header > span {
    font-size: 36px;
}

p {
    margin: 128px 0px 128px 128px;
    padding-right: 128px;
}