@import "global.css";   

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 64px;
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;

    z-index: 2
}

body {
    padding-top: 64px;
}

/* website title */
nav > a {
    color: var(--text-color);
    font-size: 24px;
    font-family: PPMori-SemiBold, Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

nav > a sup {
    font-size: 16px;
}

/* nav items */
nav ul {
    display: flex;
    gap: 0px;
    list-style: none;
}

nav ul li {
    height: 36px;
    width: auto;
    border-radius: 6px;
}

nav ul li a {
    display: block;
    width: auto;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    transition: background-color 250ms;
    line-height: 36px;

    padding: 0 16px 0 16px;
    text-wrap: nowrap;
}

nav ul li .icons {
    font-size: 18px;
    margin-right: -6px;
    transform: translateY(6px);
}

/* nav button */
nav ul .button {
    background-color: var(--dark-accent-color);
    border-radius: 128px;
}

nav ul .button a {
    background-color: var(--accent-color);
    border-radius: 128px;
    font-family: PPMori-SemiBold, Arial, sans-serif;
    transition: transform 250ms;
}

nav ul .button a:hover {
    transform: translateY(-4px);
}

/* nav dropdowns */
nav ul .nav-dropdown {
    transition: background-color 250ms;
} 

nav ul .nav-dropdown:hover {
    background-color: var(--select-color)
} 

nav ul .nav-dropdown ul {
    background-color: var(--transparent-color);
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 0px;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border-radius: 6px;
    z-index: 2;

    opacity: 0;

    transform: translateY(12px);
    transition: transform 250ms, opacity 250ms;

    pointer-events: none;
}

nav ul .nav-dropdown .spacer {
    height: 4px;
    width: 100%;
}

nav ul .nav-dropdown:hover ul {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

nav ul .nav-dropdown ul li {
    padding-top: 2px;
    padding-bottom: 12px;
    transition: background-color 250ms;
}

nav ul .nav-dropdown ul li:hover {
    background-color: var(--dark-transparent-color);
}

nav ul .nav-dropdown ul li a {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: normal;
    text-align: left;
}


/* nav bar dropdown icon */
nav ul .nav-dropdown > a .icons {
    transform: translateY(-2px);
    rotate: -180deg;
    transition: transform 250ms, rotate 250ms;
}

nav ul .nav-dropdown:hover > a .icons {
    transform: translateY(5px);
    rotate: 0deg;
}

/* nav dropdowns icon */
nav ul .nav-dropdown ul li a .icons {
    font-size: 24px;
    margin-right: 8px;
    transform: translateY(6px);
}

/* nav dropdown specifics */
nav ul .nav-dropdown ul #nav-genmath a .icons {
    color: #3fb950;
}

nav ul .nav-dropdown ul #nav-precalc a .icons {
    color: #c9510c;
}

/* responsive menu nav bar */

/* menu */
nav > span {
    display: none;
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
    padding: 6px 12px 6px 12px;
}

nav > span input {
    position: absolute;
    opacity: 0;
}

nav > span label {
    border: solid white;
    border-radius: 24px;
    padding: inherit;

    transition: border-color 250ms, color 250ms;
}

nav > span input:checked + label {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: space-around;
        flex-wrap: wrap;

        height: 52px;
        padding-top: 12px;
        gap: 10px;
    }

    nav > span {
        display: initial;
    }

    #nav-links {
        background-color: var(--transparent-color);
        width: 100vw;
        height: auto;
        margin-right: 200vw;
        padding-bottom: 24px;
        flex-direction: column;

        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

        transition: margin-right 500ms ease;
    }

    #nav-links[class="active"] {
        margin-right: 0%;
    }

    #nav-links > li {
        height: auto;
    }

    #nav-links > li > a {
        text-align: left;
        padding: 24px 12px 12px 24px;
    }

    #nav-links li a {
        font-size: 4vmax;
    }

    /* nav dropdown */
    nav ul .nav-dropdown {
        transition: none;
    } 
    
    nav ul .nav-dropdown:hover {
        background-color: transparent;
    } 
    
    nav ul .nav-dropdown ul {
        background-color: transparent;
        position: initial;
    
        display: flex;
        flex-direction: column;
        gap: 0px;
    
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
    
        border-radius: 0;
        z-index: 0;
    
        opacity: 1;
    
        transform: translateY(0);
        transition: transform 250ms, opacity 250ms;
    
        pointer-events: initial;
    }
    
    nav ul .nav-dropdown .spacer {
        height: 0px;
        width: 100%;
    }
    
    nav ul .nav-dropdown:hover ul {
        pointer-events: inherit;
        transform: translateY(0);
        opacity: 1;
    }
    
    nav ul .nav-dropdown ul li {
        padding-top: 0px;
        padding-bottom: 24px;
        padding-left: 36px;
    }
    
    nav ul .nav-dropdown ul li:hover {
        background-color: transparent;
    }
    
    nav ul .nav-dropdown ul li a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: normal;
        text-align: left;
    }
    
    
    /* nav bar dropdown icon */
    nav ul .nav-dropdown > a .icons {
        transform: translateY(0);
        rotate: 0deg;
        transition: none;
    }
    
    nav ul .nav-dropdown:hover > a .icons {
        transform: translateY(0);
        rotate: 0deg;
    }
    
    /* nav dropdowns icon */
    nav ul .nav-dropdown ul li a .icons {
        font-size: 36px;
        margin-right: 8px;
        transform: translateY(6px);
    }
}