@import url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/fonts/satoshi/stylesheet.css);
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/gstatic/icons.woff2) format("woff2");
}
:root {
  color-scheme: dark;
}

.icons {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  line-height: 0.79;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  font-family: satoshi-regular, arial, sans-serif;
  box-sizing: border-box;
}

.fancy-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-button .flair {
  position: absolute;
  background-color: white;
  aspect-ratio: 1;
  width: 200%;
  pointer-events: none;
  border-radius: 100%;
  will-change: transform;
  z-index: 0;
}
.fancy-button .label {
  font-family: inherit;
  z-index: 0;
  transition: color 0.2s;
  white-space: nowrap;
}
.fancy-button:hover {
  color: black;
}

body {
  background-color: #0e0f0f;
  color: #FFFFFF;
}

body[show-error] {
  overflow: hidden;
}

#pricing {
  width: 70%;
  margin: 6rem auto 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  #pricing {
    width: 90%;
  }
}
#pricing .title {
  font-size: 2.75rem;
  text-align: center;
}
#pricing .title h1 {
  font-family: satoshi-black, arial, sans-serif;
  background: linear-gradient(90deg, #e36970, #7c72ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#pricing .title span {
  font-size: 0.5em;
}
#pricing .plans {
  margin-top: 2rem;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1024px) {
  #pricing .plans {
    gap: 1em;
  }
  #pricing .plans div {
    font-size: min(2em, 1.5vw) !important;
  }
  #pricing .plans div .fancy-button {
    width: 100% !important;
    font-size: 1em !important;
  }
}
@media screen and (max-width: 768px) {
  #pricing .plans {
    grid-template-columns: 1fr;
  }
  #pricing .plans div {
    font-size: min(2rem, 4vw) !important;
  }
  #pricing .plans div .fancy-button {
    width: 100% !important;
    font-size: 1.25em !important;
  }
}
#pricing .plans #plan-trial {
  background-color: #141515;
  border-radius: 16px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: min(2rem, 1.25vw);
  text-align: center;
  border: solid #333;
}
#pricing .plans #plan-trial .title {
  font-family: satoshi-medium, arial, sans-serif;
  font-size: 2em;
  color: #FFFFFF;
}
#pricing .plans #plan-trial .description {
  font-size: 1em;
  color: gray;
}
#pricing .plans #plan-trial .price {
  color: #FFFFFF;
  font-family: satoshi-medium, arial, sans-serif;
  font-size: 3.5em;
}
#pricing .plans #plan-trial .price sup {
  position: absolute;
  margin-left: -0.75em;
  font-size: 0.4em;
  opacity: 0.5;
}
#pricing .plans #plan-trial .period {
  font-size: 0.75em;
  line-height: 2;
  color: gray;
}
#pricing .plans #plan-trial .fancy-button {
  font-size: 0.75em;
  font-family: satoshi-bold, arial, sans-serif;
  white-space: nowrap;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  border-color: #FFFFFF;
  color: #FFFFFF;
}
#pricing .plans #plan-trial .fancy-button .flair {
  background-color: #FFFFFF;
}
#pricing .plans #plan-trial .fancy-button:hover {
  color: #000;
}
#pricing .plans #plan-standard {
  background-color: #141515;
  border-radius: 16px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: min(2rem, 1.25vw);
  text-align: center;
  border: solid #e36970;
}
#pricing .plans #plan-standard .title {
  font-family: satoshi-medium, arial, sans-serif;
  font-size: 2em;
  color: #e36970;
}
#pricing .plans #plan-standard .description {
  font-size: 1em;
  color: gray;
}
#pricing .plans #plan-standard .price {
  color: #e36970;
  font-family: satoshi-medium, arial, sans-serif;
  font-size: 3.5em;
}
#pricing .plans #plan-standard .price sup {
  position: absolute;
  margin-left: -0.75em;
  font-size: 0.4em;
  opacity: 0.5;
}
#pricing .plans #plan-standard .period {
  font-size: 0.75em;
  line-height: 2;
  color: gray;
}
#pricing .plans #plan-standard .fancy-button {
  font-size: 0.75em;
  font-family: satoshi-bold, arial, sans-serif;
  white-space: nowrap;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  border-color: #e36970;
  color: #e36970;
}
#pricing .plans #plan-standard .fancy-button .flair {
  background-color: #e36970;
}
#pricing .plans #plan-standard .fancy-button:hover {
  color: #FFFFFF;
}
#pricing .plans #plan-premium {
  background-color: #141515;
  border-radius: 16px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: min(2rem, 1.25vw);
  text-align: center;
  border: solid #7c72ff;
}
#pricing .plans #plan-premium .title {
  font-family: satoshi-medium, arial, sans-serif;
  font-size: 2em;
  color: #7c72ff;
}
#pricing .plans #plan-premium .description {
  font-size: 1em;
  color: gray;
}
#pricing .plans #plan-premium .price {
  color: #7c72ff;
  font-family: satoshi-medium, arial, sans-serif;
  font-size: 3.5em;
}
#pricing .plans #plan-premium .price sup {
  position: absolute;
  margin-left: -0.75em;
  font-size: 0.4em;
  opacity: 0.5;
}
#pricing .plans #plan-premium .period {
  font-size: 0.75em;
  line-height: 2;
  color: gray;
}
#pricing .plans #plan-premium .fancy-button {
  font-size: 0.75em;
  font-family: satoshi-bold, arial, sans-serif;
  white-space: nowrap;
  border: solid #FFFFFF;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  border-color: #7c72ff;
  color: #7c72ff;
}
#pricing .plans #plan-premium .fancy-button .flair {
  background-color: #7c72ff;
}
#pricing .plans #plan-premium .fancy-button:hover {
  color: #FFFFFF;
}

#error-prompt {
  display: none;
}

body[show-error] #error-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 33, 0.95);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: opacity 500ms;
}
@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  body[show-error] #error-prompt {
    background-color: rgba(29, 29, 33, 0.4);
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
  }
}
body[show-error] #error-prompt .error-content {
  font-size: min(1rem, 2.25vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
body[show-error] #error-prompt .error-content .error-mascot {
  height: 16em;
  stroke: black;
  stroke-width: 5em;
}
body[show-error] #error-prompt .error-content .error-title {
  font-size: 4em;
  font-family: satoshi-black, arial, sans-serif;
  font-weight: 600;
}
body[show-error] #error-prompt .error-content .error-description {
  font-size: 1.5em;
  font-family: satoshi-black, arial, sans-serif;
  font-weight: 600;
}
body[show-error] #error-prompt .error-content .error-tip {
  color: gray;
  font-size: 1em;
}
body[show-error] #error-prompt .error-content .error-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
body[show-error] #error-prompt .error-content .error-buttons #error-continue {
  width: 50%;
  background-color: transparent;
  padding: 0.25em 1em 0.25em 1em;
  border: solid #e36970;
  border-radius: 4em;
  font-family: satoshi-bold, arial, sans-serif;
  font-size: 2em;
  white-space: nowrap;
  border-color: #e36970;
  color: #e36970;
}
body[show-error] #error-prompt .error-content .error-buttons #error-continue .flair {
  background-color: #e36970;
}
body[show-error] #error-prompt .error-content .error-buttons #error-continue:hover {
  color: #FFFFFF;
}
body[show-error] #error-prompt .error-content .error-buttons #error-go-back {
  width: 50%;
  background-color: transparent;
  padding: 0.25em 1em 0.25em 1em;
  border: solid #3fb950;
  border-radius: 4em;
  font-family: satoshi-bold, arial, sans-serif;
  font-size: 2em;
  white-space: nowrap;
  border-color: #3fb950;
  color: #3fb950;
}
body[show-error] #error-prompt .error-content .error-buttons #error-go-back .flair {
  background-color: #3fb950;
}
body[show-error] #error-prompt .error-content .error-buttons #error-go-back:hover {
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  body[show-error] #error-prompt .error-content .error-buttons {
    flex-direction: column;
  }
  body[show-error] #error-prompt .error-content .error-buttons .fancy-button {
    width: auto !important;
  }
}/*# sourceMappingURL=pricing.css.map */