<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardpack</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/logo.png">

    <link rel="stylesheet" href="/css/cardpack.css"></link>

    <link rel="stylesheet" href="/css/components/nav.css">
    <link rel="stylesheet" href="/css/components/footer.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aritmatica/cdn/css/flickity.css">

    <script src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/gsap.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/gsap/scrollTrigger.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/scrollreveal.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/modular_auto.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/fancyButtons.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/flickity.js"></script>

    <!--katex-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aritmatica/cdn/css/katex.css">
    <script defer src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/katex.js"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/aritmatica/cdn/js/katex/autoRender.js"></script>

    <script src="index.js" type="module"></script>

    <!-- og -->
    <meta property="og:url" content="https://aritmatica.github.io/flashcards/view">
    <meta property="og:title" content="Aritmatica: Cardpacks">
    <meta property="og:description" content="View Cardpack">
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/aritmatica/cdn/img/banners/aritmatica-flashcards.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Aritmatica is a place to learn 11th grade math in an easy and intuitive manner.">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="Aritmatica: Learning math starts here">
</head>

<body>
    <nav include="/components/nav"></nav>

    <section id="cardpack">
        <header>
            <div id="cardpack-course-code"></div>
            <div id="cardpack-title" class="genmath"></div>
            <div id="cardpack-description"></div>
            <div id="cardpack-properties">
                <div id="cardpack-cards">Cards: </div>
                <div id="cardpack-difficulty">Difficulty: </div>
                <div id="cardpack-price"></div>
            </div>
        </header>
        <div class="cards-carousel">
        </div>
    </section>

    <footer include="/components/footer.html"></footer>
</body>

</html>