@use 'sass:color';

@import url(https://cdn.jsdelivr.net/gh/aritmatica/cdn/fonts/satoshi/stylesheet.css);

// material icons
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn/gstatic/icons.woff2) format('woff2');
}

:root {
    color-scheme: dark;
}

.icons {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.25em;
    line-height: 0.79;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
	font-feature-settings: "liga";
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// fonts
$font-regular: satoshi-regular, arial, sans-serif;
$font-medium: satoshi-medium, arial, sans-serif;
$font-bold: satoshi-bold, arial, sans-serif;
$font-black: satoshi-black, arial, sans-serif;

// colors
$primary-color: #141515;
$secondary-color: #191a1f;
$select-color: #1d1d21;
$background-color: #0e0f0f;
$transparent-color: rgba(29, 29, 33, 0.4);
$dark-transparent-color: rgba(29, 29, 33, 0.95);
$text-color: #FFFFFF;
$accent-color: #e36970;

// specific color
$genmath-color: #3fb950;
$precalc-color: #ff6200;
$violet-color: #7c72ff;

* {
    margin: 0;
    padding: 0;
	font-family: $font-regular;
    box-sizing: border-box;
}