@import "global";
@import "fancyButtons";

body {
    background-color: $background-color;
    color: $text-color;
}

@mixin gradient-text($background-image) {
    color: transparent;
    background-image: $background-image;
    background-clip: text;
}

#cardpack {
    width: 90%;
    padding: 2rem 2rem 2rem 2rem;
    margin: 1.5rem auto 0rem auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;

    @media screen and (max-width: 1440px) {
        grid-template-columns: 60% 1fr;
        
        header .buttons {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0rem 0rem 0rem 0rem;
        grid-template-columns: 1fr;

        .cards-carousel {
            grid-row: 2;
            .card {
                font-size: min(1rem, 2vw) !important;
            }
        }
        
        header {
            padding-left: 0 !important;
            padding-right: 0 !important;
            font-size: min(1rem, 4vw) !important;
            .buttons {
                flex-direction: column;
            }
        }
    }

    header {
        height: 100%;
        padding-left: 3rem;
        padding-right: 3rem;

        display: flex;
        flex-direction: column;
        gap: 1em;

        font-size: min(1rem, 1.25vw);

        .buttons {
            width: 100%;
            margin-top: auto;
            margin-bottom: 1em;
    
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1em;

            @mixin button($button-accent) {
                background-color: transparent;
                font-size: 1.25em;
                text-wrap: nowrap;
                
                margin-top: auto;
                border: solid $text-color;
                border-radius: 1em;
                padding: 0.5em 1em 0.5em 1em;
                width: fit-content;
                height: fit-content;
                @include fancyButton($button-accent, $text-color, $button-accent);

                .label {
                    font-family: $font-bold;
                }

                .icons {
                    margin-left: -0.1em;
                }
            }

            #shuffle-flashcards {
                @include button($violet-color)
            }

            #back-flashcards {
                @include button($accent-color)
            }
        }

        #cardpack-course-code {
            color: gray;
            font-size: 1em;
        }
        #cardpack-title {
            font-size: 4em;
            font-family: $font-black;
            font-weight: 600;
            &.genmath {
                @include gradient-text(
                    linear-gradient(90deg, $genmath-color, adjust-hue($genmath-color, 20))
                )
            }
        }
        #cardpack-properties {
            margin-top: 0.5em;

            display: flex;
            justify-content: start;
            gap: 1em;

            @mixin cardpack-property($property-color) {
                background-color: $property-color;
                border-radius: 1em;
                padding: 0.5em 1em 0.5em 1em;
    
                color: $text-color;
                font-size: 1em;
                font-family: $font-bold;
                text-wrap: nowrap;
            }

            #cardpack-cards {
                @include cardpack-property(#0277BD);
            }

            #cardpack-difficulty {
                &.easy {
                    @include cardpack-property(#2E7D32);
                }
                &.medium {
                    @include cardpack-property(#F57F17);
                }
                &.hard {
                    @include cardpack-property(#d7342a);
                }
            }

            #cardpack-price {
                &.free {
                    @include cardpack-property(lighten($secondary-color, 20));
                }
                &.standard {
                    @include cardpack-property($accent-color);
                }
                &.premium {
                    @include cardpack-property($violet-color);
                }
            }
        }
    }

    .card.genmath .card-content, .nav-card.genmath {
        background-image: linear-gradient($genmath-color, adjust-hue($genmath-color, 20));
        text-shadow: 0 0 0.5em black;
    }

    .card.precalc .card-content,.nav-card.precalc {
        background-image: linear-gradient(adjust-hue($precalc-color, 15), $precalc-color);
        text-shadow: 0 0 0.25em black;
    }

    .flickity-button {
        background-color: rgba($secondary-color, 0.75);
        .flickity-button-icon {
            fill: $violet-color;
        }
    }

    .cards-carousel {
        background-color: lighten($background-color, 1);

        max-width: 952px;
        aspect-ratio: 3/2;
        width: 100%;
        margin-top: 1em;
        border-radius: 1em;

        position: relative;

        .loader-container {
            background-color: lighten($background-color, 1);

            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: inherit;

            display: flex;
            justify-content: center;
            align-items: center;

            opacity: 0;
            z-index: 1;

            transition: opacity 250ms;
            pointer-events: none;

            .loader {
                aspect-ratio: 1;
                width: 10%;
            }

            &.load {
                opacity: 1;
            }
        }

        .flickity-viewport {
            border-radius: inherit;
            overflow: hidden;
            height: 100% !important;

            transition: opacity 1000ms;
        }

        .card {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: min(1rem, 1vw);

            .card-content {
                background-color: $accent-color;
                cursor: pointer;
                opacity: 0.5;
    
                width: 80%;
                height: 80%;
                scale: 90%;
                padding: 1.5em 1em 1.5em 1em;
                border: solid var(--accent);
                border-radius: 1em;
    
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 2em;

                transform: rotate3d(0, 1, 0, 0deg);

                transition: 
                    filter 500ms,
                    opacity 500ms, 
                    scale 500ms, 
                    transform 500ms ease-out,
                ;

                div {
                    position: absolute;
                    transition: opacity 250ms;
                    padding: 2em 2em 2em 2em;
                }

                .back {
                    opacity: 0;
                    transform: rotate3d(0, 1, 0, 180deg);
                }

                &.reveal {
                    transform: rotate3d(0, 1, 0, 180deg);
                    filter: hue-rotate(-5deg);
                    .front {
                        opacity: 0;
                    }
                    .back {
                        opacity: 1;
                    }
                }
            }
        }

        .is-selected .card-content {
            opacity: 1 !important;
            scale: 100% !important;
        }
    }
}