@import "global";
@import "fancyButtons";

body {
    background-color: $background-color;
    color: $text-color;
}

@mixin gradient-text($background-image) {
    color: transparent;
    background-image: $background-image;
    background-clip: text;
}

#cardpack {
    width: 100%;
    margin: 2rem auto 0rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    header {
        padding-left: 3rem;
        padding-right: 3rem;
        #cardpack-course-code {
            color: gray;
            font-size: 1em;
        }
        #cardpack-title {
            font-size: 4em;
            font-family: $font-black;
            font-weight: 600;
            &.genmath {
                @include gradient-text(
                    linear-gradient(90deg, $genmath-color, adjust-hue($genmath-color, 20))
                )
            }
        }
        #cardpack-properties {
            margin-top: 0.5em;

            display: flex;
            justify-content: end;
            gap: 1em;

            @mixin cardpack-property($property-color) {
                background-color: $property-color;
                border-radius: 1em;
                padding: 0.5em 1em 0.5em 1em;
    
                color: $text-color;
                font-size: 1em;
                font-family: $font-black;
                text-wrap: nowrap;
            }

            #cardpack-cards {
                @include cardpack-property(#0277BD);
            }

            #cardpack-difficulty {
                &.easy {
                    @include cardpack-property(#2E7D32);
                }
                &.medium {
                    @include cardpack-property(#F57F17);
                }
                &.hard {
                    @include cardpack-property(#d7342a);
                }
            }

            #cardpack-price {
                &.free {
                    @include cardpack-property(lighten($secondary-color, 20));
                }
                &.standard {
                    @include cardpack-property($accent-color);
                }
                &.premium {
                    @include cardpack-property($violet-color);
                }
            }
        }
    }

    .card.genmath .card-content, .nav-card.genmath {
        background-image: linear-gradient($genmath-color, adjust-hue($genmath-color, 20));
        text-shadow: 0 0 0.5em black;
    }

    .card.precalc .card-content,.nav-card.precalc {
        background-image: linear-gradient(adjust-hue($precalc-color, 15), $precalc-color);
        text-shadow: 0 0 0.25em black;
    }

    .flickity-button {
        background-color: rgba($secondary-color, 0.75);
        .flickity-button-icon {
            fill: $violet-color;
        }
    }

    .cards-carousel {
        max-width: 952px;
        aspect-ratio: 3/2;
        width: 100%;
        margin-top: 1rem;

        .flickity-viewport {
            border-radius: inherit;
            overflow: visible;
            height: 100% !important;
        }

        .card {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: min(1rem, 2vw);

            .card-content {
                background-color: $accent-color;
                cursor: pointer;
                opacity: 0.5;
    
                width: 80%;
                height: 80%;
                scale: 90%;
                padding: 1.5em 1em 1.5em 1em;
                border: solid var(--accent);
                border-radius: 1em;
    
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 2em;

                transform: rotate3d(0, 1, 0, 0deg);

                transition: scale 500ms, transform 500ms ease-out;

                div {
                    position: absolute;
                    transition: opacity 250ms;
                    padding: 2em 2em 2em 2em;
                }

                .back {
                    opacity: 0;
                    transform: rotate3d(0, 1, 0, 180deg);
                }

                &.reveal {
                    transform: rotate3d(0, 1, 0, 180deg);
                    .front {
                        opacity: 0;
                    }
                    .back {
                        opacity: 1;
                    }
                }
            }
        }

        .is-selected .card-content {
            opacity: 1 !important;
            scale: 100% !important;
        }
    }
}