.fancy-button {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .flair {
        position: absolute;
        background-color: white;
        aspect-ratio: 1;
        width: 200%;
        pointer-events: none; 
        border-radius: 100%;
        will-change: transform;
        z-index: 0;
    }

    .label {
        z-index: 0;
        transition: color 0.2s;
    }
    
    &:hover {
        color: black;
    }
}

@mixin fancyButton ($text-color, $text-hover-color, $flair-color) {
    border-color: $flair-color;
    color: $text-color;
    .flair {
        background-color: $flair-color;
    }
    &:hover {
        color: $text-hover-color;
    }
}