@use "sass:color";

@import "global";
@import "fancyButtons";

@mixin four-sided-padding($padding) {
    padding: $padding $padding $padding $padding
}

body {
    color: $text-color;
    background-color: $background-color;
    overflow-x: hidden;
}

#home-container {
    padding: 12vw 1rem 0 1rem;
}

@mixin line-color($from-color, $to-color, $percentage) {
    background-color: linear-gradient($from-color, $to-color $percentage);
    background-image: linear-gradient($from-color, $to-color $percentage);
}

header, section {
    max-width: 72rem;
    margin: 0 auto 0 auto;

    display: flex;
    gap: 1vw;

    aside {
        //background-color: $violet-color;
        width: 5%;

        display: flex;
        flex-direction: column;
        align-items: center;

        .icons {
            font-size: 2.25rem;
            margin-top: 0;
            cursor: default;
        }
        .line {
            width: 3px;
            border-radius: 3px;
            transform-origin: top;
        }
    }

    main {
        //background-color: $accent-color;
        width: 95%;
    }
}

header {
    aside {
        .icons {
            color: gray;
            font-size: 0.75rem;
        }
        .line {
            @include line-color(transparent, $accent-color, 30%);
            height: 100%;
        }
    }
    main {
        padding-bottom: 2rem;
        h1 {
            text-wrap: nowrap;
            font-size: min(16vw, 12rem);
            sup {
                font-size: 0.5em;
                .glow {
                    position: absolute;
                    background-color: transparent;
                    width: 0;
                    border-radius: 100%;
        
                    display: inline-block;
        
                    opacity: 1;
                    z-index: -1;
                    box-shadow: 0 0 1.2em 0.7em $accent-color
                }
            }
        }

        span {
            color: gray;
            font-size: min(5vw, 2rem);
        }
    }
}

#intro {
    aside {
        .icons {
            height: 2rem;
            font-size: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .glow {
                width: 0;
                height: 0;
                box-shadow: 18px 18px 36px 18px $accent-color;
            }
        }
        .line {
            @include line-color($accent-color, $genmath-color, 80%);
            height: 16rem;
        }
    }

    main {
        .buttons {
            margin-top: 0.5rem;

            display: flex;
            flex-direction: row;

            a {
                width: min-content;
                border: solid $text-color;
                border-radius: 1.5rem;
                padding: 0.5rem 1rem 0.5rem 1rem;
                margin-right: 0.75rem;
            
                font-family: $font-bold;
                font-size: 1.5rem;
                text-wrap: nowrap;
                text-align: center;
            }

            #intro-start {
                @include fancyButton($accent-color, $text-color, $accent-color)
            }
        }

        @media screen and (max-width: 768px) {
            .buttons {
                margin-left: 1rem;
                flex-direction: column;
                gap: 0.5rem;
                a {
                    width: 90%;
                    padding: 0.25rem 0.5rem 0.25rem 0.5rem;

                    font-family: $font-bold;
                    font-size: min(5vw, 1.5rem);
                }
            }
        }
    }
}

@mixin section ($section-color, $next-section-color) {
    aside {
        .icons {
            height: 2rem;
            font-size: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .glow {
                width: 0;
                height: 0;
                box-shadow: 18px 18px 36px 18px $section-color;
            }
        }
        .line {
            @include line-color($section-color, $next-section-color, 100%);
            height: 64rem;
        }
    }
    
    main {
        margin-left: 1rem;
        h2, h2 span {
            font-size: min(12vw, 4rem);
            font-family: $font-black;
            margin-top: 1.125rem;
            .highlight {
                color: transparent;
                background-image: linear-gradient(90deg, $section-color, adjust-hue($section-color, 20));
                //background-image: linear-gradient(90deg, $genmath-color, #3fb9a5);
                //background-image: linear-gradient(90deg,#a17be7, #e26dad);
                -webkit-background-clip: text;
                background-clip: text;
                //color: $section-color;
            }
        }
        
        h3, h3 span {
            margin-top: 1rem;
            font-size: min(6vw, 2rem);
            font-family: $font-black;
        }

        .card {
            background-color: $secondary-color;

            width: min(95vw, 76rem);
            height: 32rem;
            @include four-sided-padding(min(8%, 4.5rem));
            margin: 3.5rem auto 0 auto;
            border-radius: 16px;

            position: absolute;
            left: 0; right: 0;
        
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            .card-text {
                .card-title {
                    color: gray;
                    font-size: 1.5rem;
                    line-height: 1.25;
                    span {
                        color: white;
                        font-size: inherit;
                        line-height: inherit;
                    }
                }
            }

            .card-media {
                //background-color: darken($secondary-color, 2);
                border-radius: 24px;

                grid-row: span 2;
                font-size: 1.5rem;
                position: relative;
                height: 20rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .button-container {
                display: flex;
                align-items: end;

                font-size: 1.5rem;

                .fancy-button {
                    font-size: 1em;
                    font-family: $font-bold;
                    text-wrap: nowrap;
                    
                    border: solid $text-color;
                    border-radius: 1em;
                    padding: 0.5em 1em 0.5em 1em;
                    width: fit-content;
                    height: fit-content;
                }
            }

            @media screen and (max-width: 1024px) {
                height: fit-content;
                grid-template-columns: 1fr;

                .button-container {
                    justify-content: center;
                }
            }
        }
    }
}

#genmath {
    @include section($genmath-color, $precalc-color);
    #genmath-log {
        background-image: linear-gradient($genmath-color, adjust-hue($genmath-color, 25));
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/svg/aritmatica-logarithm.svg) no-repeat center / cover;
        mask: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/svg/aritmatica-logarithm.svg) no-repeat center / cover;
        opacity: 0.01;

        position: absolute;

        width: 125%;
        height: 100%;
        transform: scale(-1,1);
    }
}

#precalc {
    @include section($precalc-color, $violet-color);

    .card-media {
        #precalc-circle {
            background-image: linear-gradient($precalc-color, adjust-hue($precalc-color, 20));
            -webkit-mask: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/svg/aritmatica-circle.svg) no-repeat center / cover;
            mask: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/svg/aritmatica-circle.svg) no-repeat center / cover;
            opacity: 0.01;

            position: absolute;
            top: 0;
            aspect-ratio: 1;
            height: 48rem;
        }
    }
}

#exercises {
    @include section($violet-color, $accent-color);
    aside {
        .line {
            height: 80rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .icons:last-child {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            #join-circle-shape {
                opacity: 0;
    
                position: absolute;
                aspect-ratio: 1;
                height: min(48rem, 100vw);
                
                z-index: -1;
            }

            .glow {
                width: 0;
                height: 0;
                transform: translateY(-1rem);
                box-shadow: 18px 18px 36px 18px $accent-color;
                z-index: -1;
            }
        }
    }
    main {
        height: 64rem;
    }
    #exercises-shape {
        background-image: linear-gradient($violet-color, adjust-hue($violet-color, 30));
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/svg/aritmatica-abstract-shape.svg) no-repeat center / cover;
        mask: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/svg/aritmatica-abstract-shape.svg) no-repeat center / cover;
        opacity: 0.01;

        position: absolute;

        width: 125%;
        height: 200%;
        transform: scale(-1,1) translateY(-10%);
    }
}

#join {
    margin-top: -18rem;
    margin-bottom: 24rem;

    aside {
        .icons {
            height: 2rem;
            font-size: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .glow {
                width: 0;
                height: 0;
                box-shadow: 18px 18px 36px 18px $accent-color;
            }
        }
    }

    main {
        margin-left: 1rem;
        h2, h2 span {
            font-size: min(12vw, 4rem);
            font-family: $font-black;
            margin-top: 1.125rem;
            .highlight {
                color: $accent-color;
            }
        }
        
        h3, h3 span {
            margin-top: 1rem;
            font-size: min(6vw, 2rem);
            font-family: $font-black;
        }

        .buttons {
            margin-top: 0.5rem;

            display: flex;
            flex-direction: row;

            a {
                width: min-content;
                border: solid $text-color;
                border-radius: 1.5rem;
                padding: 0.5rem 1rem 0.5rem 1rem;
                margin-right: 0.75rem;
            
                font-size: 1.5rem;
                text-wrap: nowrap;
                text-align: center;
            }

            #join-aritmatica {
                @include fancyButton($accent-color, $text-color, $accent-color)
            }
        }

        @media screen and (max-width: 768px) {
            .buttons {
                margin-left: 1rem;
                flex-direction: column;
                gap: 0.5rem;
                a {
                    width: 90%;
                    padding: 0.25rem 0.5rem 0.25rem 0.5rem;

                    font-size: min(5vw, 1.5rem);
                }
            }
        }
    }
}