<div class="cardpack-content">
    <span class="cardpack-course-code"></span>
    <h2 class="cardpack-title"></h2>

    <div class="cardpack-properties">
        <div class="cardpack-terms">Terms: </div>
        <div class="cardpack-difficulty">Difficulty: </div>
        <div class="cardpack-price"></div>
    </div>

    <span class="cardpack-description"></span>

    <div class="buttons">
        <a class="fancy-button open-cardpack" href="/flashcards/view/">
            <span class="flair"></span>
            <span class="label">
                <span class="available">Open Card Pack</span>
                <span class="unavailable">Upgrade</span>
            </span>
        </a>
        <a class="fancy-button open-module">
            <span class="flair"></span>
            <span class="label">
                <span class="available">Open Module</span>
                <span class="unavailable">Unavailable</span>
            </span>
        </a>
    </div>

    <meta class="cardpack-data">
</div>