<a href="/">Aritmatica<sup>11</sup></a>
<span>
    <input id="nav-menu" type="checkbox">
    <label for="nav-menu"><span class="icons">menu</span> Menu</label>
    <script>
        const nav = document.querySelector("nav")
        const menu = document.getElementById("nav-menu")
        const navLinks = document.getElementById("nav-links")

        function onCheck() {
            if (menu.checked) {
                navLinks.classList.add("active")
            } else {
                navLinks.classList.remove("active")
            }
        }

        menu.addEventListener("click", onCheck)
        onCheck()
    </script>
</span>
<ul id="nav-links" class="active">
    <li id="nav-pricing"><a href="#">Pricing</a></li>
    <li id="nav-about"><a href="/about/">About</a></li>
    <li id="nav-modules" class="nav-dropdown">
        <a href="#">Modules<span class="icons">expand_more</span></a>
        <div class="spacer"></div>
        <ul>
            <li id="nav-genmath"><a href="#">
                    <span class="icons">function</span>
                    General Mathematics
                </a></li>
            <li id="nav-precalc"><a href="#">
                    <span class="icons">calculate</span>
                    Precalculus
                </a></li>
        </ul>
    </li>
</ul>
<ul id="nav-join">
    <li id="nav-login"><a href="#">Log in</a></li>
    <li id="nav-signup" class="button"><a href="#">Sign up</a></li>
</ul>