<a href="/">Aritmatica<sup>11</sup></a>
<ul>
    <li id="pricing"><a href="#">Pricing</a></li>
    <li id="about"><a href="/about/">About</a></li>
    <li id="modules" class="nav-dropdown">
        <a href="#">Modules<span class="icons">expand_more</span></a>
        <div class="spacer"></div>
        <ul>
            <li id="genmath"><a href="#">
                    <span class="icons">function</span>
                    General Mathematics
                </a></li>
            <li id="precalc"><a href="#">
                    <span class="icons">calculate</span>
                    Precalculus
                </a></li>
        </ul>
    </li>
</ul>
<ul>
    <li id="login"><a href="#">Log in</a></li>
    <li id="signup" class="button"><a href="#">Sign up</a></li>
</ul>