<article id="module-content">
    <h1>The Circle</h1>
    <p class="module-description">
        A circle is all points in a plane that are a fixed distance from a given point in the plane.
        The circle has a focus known as the center of the circle.    
    </p>

    <section id="video-tutorial">
        <h2><a href="#video-tutorial">Video Tutorial</a></h2>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/u_39J-syjB0?si=prcE-EQzcOebGsl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>

    <section id="standard-form-of-the-equation-of-a-circle">
        <h2><a href="#standard-form-of-the-equation-of-a-circle">Standard Form of the Equation of a Circle</a></h2>
        <p>
            The standard form of the equation of a circle with center at (h, k), and radius r is as follows:
            <span class="formula">
                $$ (x-h)^2 + (y-k)^2 = r^2 $$
            </span>

            <div>
                <h3>Desmos Graph of Circle at $(h, k)$</h3>
                <span>(You can drag the center and the radius to adjust them)</span>
                <iframe class="desmos" src="https://www.desmos.com/calculator/2kmerjeuhv?embed" width="500" height="500" style="border: 1px solid #ccc" frameborder=0></iframe>
            </div>

            <div class="solving">
                <h3>Example</h3>
                <div>
                    <span>Find the center and radius of:</span>
                    <span class="indent">$ (x-5)^2 + (y+4)^2 = 27 $</span>

                    <span>
                        The center is $(5, -4)$. <br>
                        Notice how the numbers signs have been switched. This is the case for all circles due to the negative in the base equation above.
                        To better illustrate, take a look at the figure below:
                    </span>
                    <span class="indent">$ (x-(5))^2 + (y-(-4))^2 = 9 $</span>
                    <span>
                        Now we're going to find the radius. If $r^2 = 9$ then $r$ must be $r=\sqrt{9}$ which is $r=3$. 
                        We do not accept the negative solution to the radius because a circle's radius must be $r\ge 0$.
                    </span>
                    <span class="indent">$
                        (x-(5))^2 + (y-(-4))^2 = 3^2 \newline
                        r=3
                    $</span>
                </div>
            </div>

            <div class="callout">
                <h3> Fun Fact: Circles with $r=0$</h3>
                Circles with a radius of $r=0$ are called <strong>point circles</strong>!
            </div>
        </p>
    </section>
</article>