<li><a>
    <strong>Pre-Calculus</strong>
</a></li>
<li><a href="/pricing/?error=free-trial">
    001: Unit Circle
</a></li>
<li><a href="/pricing/?error=free-trial">
    002: Circular Functions
</a></li>
<li><a href="/pricing/?error=free-trial">
    003: Fundamental Trigonometric Identities
</a></li>
<li><details>
    <summary><a href="/pricing/?error=free-trial">004: Other Trigonometric Identities</a></summary>
    <ul>
        <li><a href="/pricing/?error=free-trial">
            Double and Half Angle Identities
        </a></li>
    </ul>
</details></li>
<li><a href="/pricing/?error=free-trial">
    005: Graphs of Trigonometric Functions
</a></li>
<li><a href="/pricing/?error=free-trial">
    006: Inverse Trigonometric Functions
</a></li>
<li><a href="/pricing/?error=free-trial">
    007: Trigonometric Equations
</a></li>
<li><details open="true">
    <summary><a href="/pricing/?error=free-trial">008: Introduction to Conic Sections and Circles</a></summary>
    <ul>
        <li class="active"><a href="/modules/precalc/">
            The Circle
        </a></li>
    </ul>
</details></li>
<li><a href="/pricing/?error=free-trial">
    009: Parabola
</a></li>