@use 'sass:color';

@import "../global";
@import "../fancyButtons";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}

body {
    background-color: $background-color;
    color: $text-color;
}

@mixin course($course-accent-color) {
    footer {
        background-color: $primary-color;
        * {
            color: $course-accent-color;
            border-color: $course-accent-color !important;
        }
    }

    .main-container {
        max-width: 1440px;
        margin: 0 auto 0 auto;
    
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
        //gap: 2rem;
    
        a {
            color: unset;
            text-decoration: none;
            &[href]:hover {
                text-decoration: underline;
            }
        }
    
        .sidebar {
            $offset: 4rem;
            max-height: calc(100vh - $offset);
            padding-top: 2rem;
            padding-right: 2rem;
            
            position: sticky;
            top: $offset;
            z-index: 1;
    
            transform: 0;
    
            strong {
                color: $course-accent-color;
                font-size: 1.25em;
            }
    
            ul {
                list-style: none;
    
                .active {
                    background-color: $primary-color;
                    border-radius: 1rem;
                    border: solid $course-accent-color;
                }
    
                li {
                    summary {
                        margin-bottom: 1rem;
                    }
                    padding: 1rem 0.25rem 1rem 1rem;
    
                    // dropdown
                    details {
                        summary {
                            margin-bottom: 1rem;
                        }
                        ul {
                            padding-left: 1rem;
                        }
                    }
                }
            }
    
            .open-button {
                position: absolute;
                left: 20%;
    
                background-color: $primary-color;
                width: fit-content;
                height: 3rem;
                margin-top: -1px;
    
                border-left: solid $course-accent-color;
                border-bottom: solid $course-accent-color;
                border-right: solid $course-accent-color;

                border-bottom-left-radius: 0.75rem;
                border-bottom-right-radius: 0.75rem;
    
                display: none;
                flex-direction: column;
                justify-content: center;

                transition: background-color 250ms;

                &[class="open-button open"] {
                    background-color: $background-color;
                }
    
                input {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    
                    &:checked + label {
                        color: $course-accent-color;
                        .icons {
                            transform: translateY(2px);
                            rotate: 180deg;
                        }
                    }
                }
    
                label {
                    color: $text-color;
                    padding: 0 1rem 0 0.75rem;
                    .icons {
                        rotate: 0deg;
                        transition: background-color 250ms rotate 250ms;
                    }
                }
            }
        }
    
        main {
            background-color: darken($primary-color, 1);
            z-index: 0;

            padding: 3em 3em 3em 3em;
    
            font-size: 1.1rem;
            line-height: 1.5;
    
            iframe {
                aspect-ratio: 16/9;
                width: 100%;
                height: auto;

                margin-top: 1em;
                border-radius: 1em;
                border: solid $course-accent-color;
            }
    
            article {
                display: block;
        
                h1 {
                    font-size: 2.5em;
                    margin-bottom: 1em;
                }
        
                .module-description {
                    margin-bottom: 3em;
                }

                a {
                    color: $course-accent-color;
                    font-family: $Mori-SemiBold;
                };

                h2 {
                    font-size: 2em;
                    font-family: $Mori-SemiBold;
                }

                h3 {
                    margin-top: 1em;
                    margin-bottom: 0.5em;

                    font-size: 1.5em;
                    font-family: $Mori-SemiBold;
                }

                .highlight {
                    color: $course-accent-color;
                }

                .spoiler-container {
                    position: relative;
                    .spoiler {
                        background-color: $primary-color;

                        border: solid $course-accent-color;
                        border-radius: 1rem;
                        width: 105%;
                        height: 110%;

                        position: absolute;
                        top: 0;
                        bottom: 0;
                        transform: translate(-2.5%, -5%);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        z-index: 1;

                        transition: opacity 500ms;

                        .fancy-button {
                            background-color: transparent !important;
                            border: solid $course-accent-color;
                            border-radius: 4rem;
                            padding: 0.25em 0.5em 0.25em 0.5em;

                            font-size: 1.5em;
        
                            @include fancyButton($course-accent-color, $text-color, $course-accent-color);
        
                            transition: opacity 250ms;
                        }

                        @supports (backdrop-filter: blur()) {
                            background-color: $transparent-color;
                            backdrop-filter: blur(1rem);
                        }
                    }
                }
    
                section {
                    margin-top: 1em;
                    margin-bottom: 2em;

                    ol {
                        padding-left: 1em;
                    }
    
                    .solving {
                        div {
                            display: flex;
                            flex-direction: column;
                            padding-left: 1em;
                        }
                        .indent {
                            padding-left: 1em;
                            margin-bottom: 1em;
                        }
                    }
    
                    .callout {
                        background-color: $secondary-color;
    
                        padding: 1.5em 1.5em 1.5em 1.5em;
                        border-radius: 1rem;
                        border: solid $course-accent-color;
    
                        h3 {
                            font-size: 1.25em;
                            font-family: $Mori-SemiBold;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    
        .toc {
            //background-color: $exercises-color;
    
            $offset: 4rem;
            max-height: calc(100vh - $offset);
    
            position: sticky;
            top: $offset;
        }
    
        @media screen and (max-width: 1440px) {
            grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr);
            .toc {
                display: none;
            }
        }
    
        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            .sidebar {
                background-color: $background-color;
    
                width: 100%;
                border-bottom: solid $course-accent-color;
                margin-top: 2px;
    
                position: fixed;
                transform: translateY(-100%);
    
                .open-button {
                    display: flex;
                }
            }
            main {
                font-size: 1.15rem;
                padding-top: 6em;
            }
        }
    
        @media screen and (max-width: 768px) {
            .sidebar {
                .open-button {
                    left: 1rem;
                }
            }
            main {
                padding-left: 2rem;
                padding-right: 2rem;
                font-size: 1.25rem;
                .desmos {
                    aspect-ratio: 1;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    html {
        scroll-padding-top: 8rem;
    }
}