@import "../global";

body {
    padding-top: 4em;
}

nav {
    background-color: $primary-color;
    color: $text-color;

    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;

    .title {
        font-family: $Mori-SemiBold;
        font-weight: bolder;
        font-size: 1.5rem;
        text-align: center;
        sup {font-size: 0.75em;}
    }

    // specifics
    #nav-genmath .icons {
        color: $genmath-color
    }
    #nav-precalc .icons {
        color: $precalc-color
    }
    #nav-signup {
        background-color: $accent-color;
        border: solid $accent-color;
        border-radius: 2rem;
    }
}

@media screen and (min-width: 768px) {
    @import "./navDesktop";
}

@media screen and (max-width: 768px) {
    @import "./navMobile";
}