<span class="title">
    <a href="/">Aritmatica<sup>11</sup></a>
</span>

<span class="menu">
    <input id="nav-menu" type="checkbox">
    <label for="nav-menu"><span class="icons">menu</span> Menu</label>
    <script src="/components/nav/index.js"></script>
</span>

<ul class="links">
    <li id="nav-pricing"><a href="#">Pricing</a></li>
    <li id="nav-about"><a href="/about/">About</a></li>
    <li id="nav-modules" class="dropdown">
        <a href="#">Modules<span class="icons">expand_more</span></a>
        <div class="spacer"></div>
        <ul>
            <li id="nav-genmath"><a href="#">
                    <span class="icons">function</span>
                    General Mathematics
                </a></li>
            <li id="nav-precalc"><a href="#">
                    <span class="icons">calculate</span>
                    Precalculus
                </a></li>
        </ul>
    </li>
</ul>

<div class="divider">
    <div class="line"></div>
</div>

<ul class="join">
    <li id="nav-login"><a href="#">Log in</a></li>
    <li id="nav-signup"><a href="#">Sign up</a></li>
</ul>